<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <resource-ref>
    <description>PostgreSQL data source</description>
    <res-ref-name>jdbc/InstituteHub</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>Com.InstituteHub.Servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>Com.InstituteHub.Dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dmutil</display-name>
    <servlet-name>Dmutil</servlet-name>
    <servlet-class>Com.InstituteHub.Util.Dmutil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dmutil</servlet-name>
    <url-pattern>/Dmutil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteRegisterServlet</display-name>
    <servlet-name>InstituteRegisterServlet</servlet-name>
    <servlet-class>Com.InstituteHub.Servlet.InstituteRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteRegisterServlet</servlet-name>
    <url-pattern>/InstituteRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Institute_UserDaoImp</display-name>
    <servlet-name>Institute_UserDaoImp</servlet-name>
    <servlet-class>Com.InstituteHub.Dao.Institute_UserDaoImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Institute_UserDaoImp</servlet-name>
    <url-pattern>/Institute_UserDaoImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteLoginServlet</display-name>
    <servlet-name>InstituteLoginServlet</servlet-name>
    <servlet-class>Com.InstituteHub.Servlet.InstituteLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteLoginServlet</servlet-name>
    <url-pattern>/InstituteLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegisterServlet</display-name>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <servlet-class>Com.InstituteHub.Servlet.StudentRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <url-pattern>/StudentRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteDetailsServlet</display-name>
    <servlet-name>InstituteDetailsServlet</servlet-name>
    <servlet-class>Com.InstituteHub.Servlet.InstituteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteDetailsServlet</servlet-name>
    <url-pattern>/InstituteDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>